body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 500;
  font-size: large;
  background-color: rgba(128, 128, 128, 0.103);
  color: white;
}

.light {
  background-color: rgba(255, 255, 255, 0.816);
  color: rgba(3, 1, 22, 0.929);
}

.dark {
  background-color: rgba(3, 1, 22, 0.929);
  color: rgba(255, 255, 255, 0.816);
}

.app {
  font-family: Arial, sans-seerif;
  padding: 20px;
  transition: background-color 0.9s, color 0.9s;
}
